USE [master]
GO
/****** Object:  Database [quanlyhieusach]    Script Date: 11/4/2021 9:48:26 PM ******/
CREATE DATABASE [quanlyhieusach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlyhieusach', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlyhieusach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlyhieusach_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlyhieusach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlyhieusach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlyhieusach]
GO
/****** Object:  Table [dbo].[calam]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calam](
	[macalam] [varchar](50) NOT NULL,
	[tencalam] [nchar](10) NOT NULL,
 CONSTRAINT [PK_calam] PRIMARY KEY CLUSTERED 
(
	[macalam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietcalam]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietcalam](
	[macalam] [varchar](50) NOT NULL,
	[manv] [varchar](50) NOT NULL,
	[ngaylam] [date] NOT NULL,
	[trangthai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[macalam] ASC,
	[manv] ASC,
	[ngaylam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietdondathang]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietdondathang](
	[madon] [int] NOT NULL,
	[masp] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[dongia] [real] NOT NULL,
 CONSTRAINT [fk_chitetdonhang_donhang] PRIMARY KEY CLUSTERED 
(
	[madon] ASC,
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitiethoadon]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[mahd] [int] NOT NULL,
	[masp] [int] NOT NULL,
	[dongia] [real] NOT NULL,
	[soluong] [int] NOT NULL,
	[thanhtien] [real] NULL,
 CONSTRAINT [PK_chitiethoadon] PRIMARY KEY CLUSTERED 
(
	[mahd] ASC,
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dondathang]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dondathang](
	[makh] [int] NOT NULL,
	[manv] [varchar](50) NOT NULL,
	[ngaydat] [date] NULL,
	[ngaygiao] [date] NULL,
	[madon] [int] IDENTITY(1,1) NOT NULL,
	[tongtien] [real] NULL,
	[ma_trangthai] [varchar](10) NULL,
	[thanhtoan] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[madon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[makh] [int] NOT NULL,
	[manv] [varchar](50) NOT NULL,
	[ngaylap_hd] [date] NULL,
	[mahd] [int] IDENTITY(1,1) NOT NULL,
	[tongtien] [real] NULL,
	[sotiennhan] [real] NULL,
	[sotientralai] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[mahd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[tenkh] [nvarchar](50) NULL,
	[sodienthoai] [varchar](15) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[ma_kh] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[ma_kh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisanpham]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisanpham](
	[ma_loaisp] [varchar](50) NOT NULL,
	[tenloaisp] [nvarchar](50) NULL,
 CONSTRAINT [PK_loaisanpham] PRIMARY KEY CLUSTERED 
(
	[ma_loaisp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[ma_ncc] [varchar](50) NOT NULL,
	[ten_ncc] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[ma_ncc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[ma_nv] [varchar](50) NOT NULL,
	[ten__nv] [nvarchar](50) NULL,
	[sodienthoai] [varchar](50) NULL,
	[chucvu] [varchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[matkhau] [varchar](50) NULL,
	[luongcoban] [real] NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[ma_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[ten_sp] [nvarchar](50) NULL,
	[dongia] [real] NULL,
	[soluongton] [int] NULL,
	[trangthai] [nvarchar](50) NULL,
	[hinhanh] [image] NULL,
	[ten_tacgia] [nvarchar](50) NULL,
	[sotrang] [int] NULL,
	[nhaxuatban] [nvarchar](50) NULL,
	[ma_loaisp] [varchar](50) NULL,
	[ma_ncc] [varchar](50) NULL,
	[ma_sanpham] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_sanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trangthaidondathang]    Script Date: 11/4/2021 9:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trangthaidondathang](
	[ma_trangthai] [varchar](10) NOT NULL,
	[ten_trangthai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_trangthaidondathang] PRIMARY KEY CLUSTERED 
(
	[ma_trangthai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[calam] ([macalam], [tencalam]) VALUES (N'CA1', N'ca 1      ')
INSERT [dbo].[calam] ([macalam], [tencalam]) VALUES (N'CA2', N'ca 2      ')
GO
INSERT [dbo].[chitietcalam] ([macalam], [manv], [ngaylam], [trangthai]) VALUES (N'CA1', N'NVLam', CAST(N'2021-11-01' AS Date), N'Tre gio')
GO
INSERT [dbo].[chitietdondathang] ([madon], [masp], [soluong], [dongia]) VALUES (1, 3, 12, 4500)
INSERT [dbo].[chitietdondathang] ([madon], [masp], [soluong], [dongia]) VALUES (10, 3, 12, 4500)
INSERT [dbo].[chitietdondathang] ([madon], [masp], [soluong], [dongia]) VALUES (17, 2, 1, 4500)
GO
INSERT [dbo].[chitiethoadon] ([mahd], [masp], [dongia], [soluong], [thanhtien]) VALUES (1, 2, 25000, 2, NULL)
INSERT [dbo].[chitiethoadon] ([mahd], [masp], [dongia], [soluong], [thanhtien]) VALUES (1, 3, 4500, 2, NULL)
INSERT [dbo].[chitiethoadon] ([mahd], [masp], [dongia], [soluong], [thanhtien]) VALUES (13, 2, 12312, 12, NULL)
GO
SET IDENTITY_INSERT [dbo].[dondathang] ON 

INSERT [dbo].[dondathang] ([makh], [manv], [ngaydat], [ngaygiao], [madon], [tongtien], [ma_trangthai], [thanhtoan]) VALUES (80, N'NVLam', CAST(N'2021-10-11' AS Date), CAST(N'2021-10-29' AS Date), 1, 54000, N'DG', N'Chuyển khoản')
INSERT [dbo].[dondathang] ([makh], [manv], [ngaydat], [ngaygiao], [madon], [tongtien], [ma_trangthai], [thanhtoan]) VALUES (79, N'HCV', CAST(N'2021-09-12' AS Date), CAST(N'2021-10-29' AS Date), 10, 54000, N'MOI', N'Tiền mặt')
INSERT [dbo].[dondathang] ([makh], [manv], [ngaydat], [ngaygiao], [madon], [tongtien], [ma_trangthai], [thanhtoan]) VALUES (76, N'PQH', CAST(N'2021-09-10' AS Date), CAST(N'2021-10-01' AS Date), 17, 12000, N'MOI', N'Chuyển khoản')
SET IDENTITY_INSERT [dbo].[dondathang] OFF
GO
SET IDENTITY_INSERT [dbo].[hoadon] ON 

INSERT [dbo].[hoadon] ([makh], [manv], [ngaylap_hd], [mahd], [tongtien], [sotiennhan], [sotientralai]) VALUES (1, N'NVLam', NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[hoadon] ([makh], [manv], [ngaylap_hd], [mahd], [tongtien], [sotiennhan], [sotientralai]) VALUES (2, N'NVLam', NULL, 3, NULL, NULL, NULL)
INSERT [dbo].[hoadon] ([makh], [manv], [ngaylap_hd], [mahd], [tongtien], [sotiennhan], [sotientralai]) VALUES (1, N'NVLam', CAST(N'2021-10-11' AS Date), 6, 230000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[hoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[khachhang] ON 

INSERT [dbo].[khachhang] ([tenkh], [sodienthoai], [diachi], [email], [ma_kh]) VALUES (N'Nguyễn Văn Lâm', N'123124', N'KKF', N'fdff', 1)
INSERT [dbo].[khachhang] ([tenkh], [sodienthoai], [diachi], [email], [ma_kh]) VALUES (N'Hiệu', N'231231', N'fhdhfd', N'dfdfdf', 2)
INSERT [dbo].[khachhang] ([tenkh], [sodienthoai], [diachi], [email], [ma_kh]) VALUES (N'Phạm Quốc Hiệu', N'098979121', N'Hà N?i', N'dfadf@gmail.com', 3)
SET IDENTITY_INSERT [dbo].[khachhang] OFF
GO
INSERT [dbo].[loaisanpham] ([ma_loaisp], [tenloaisp]) VALUES (N'BUT', N'Bút')
INSERT [dbo].[loaisanpham] ([ma_loaisp], [tenloaisp]) VALUES (N'SA', N'Sách')
INSERT [dbo].[loaisanpham] ([ma_loaisp], [tenloaisp]) VALUES (N'TR', N'Truyện')
GO
INSERT [dbo].[nhacungcap] ([ma_ncc], [ten_ncc], [diachi]) VALUES (N'NVC', N'Nhà VC', N'TP.HCM')
GO
INSERT [dbo].[nhanvien] ([ma_nv], [ten__nv], [sodienthoai], [chucvu], [diachi], [email], [matkhau], [luongcoban]) VALUES (N'HCV', N'Hồ Công Việt', N'0987423412', N'ADMIN', N'TP.HCM', N'hcv@gmail.com', N'123456', 3000000)
INSERT [dbo].[nhanvien] ([ma_nv], [ten__nv], [sodienthoai], [chucvu], [diachi], [email], [matkhau], [luongcoban]) VALUES (N'NVLam', N'Nguyễn Văn Lâm', N'1234', N'NVNK', N'TP.HCM', N'fdfd@gmail.com', N'123456', 3000000)
INSERT [dbo].[nhanvien] ([ma_nv], [ten__nv], [sodienthoai], [chucvu], [diachi], [email], [matkhau], [luongcoban]) VALUES (N'PQH', N'Phạm Quốc Hiệu', N'0956763452', N'NVBH', N'TP.HCM', N'hieu@gmail.com', N'123456', 3000000)
GO
SET IDENTITY_INSERT [dbo].[sanpham] ON 

SET IDENTITY_INSERT [dbo].[sanpham] OFF
GO
INSERT [dbo].[trangthaidondathang] ([ma_trangthai], [ten_trangthai]) VALUES (N'DG', N'Đang giao')
INSERT [dbo].[trangthaidondathang] ([ma_trangthai], [ten_trangthai]) VALUES (N'MOI', N'Mới')
INSERT [dbo].[trangthaidondathang] ([ma_trangthai], [ten_trangthai]) VALUES (N'TC', N'Thành công')
GO
ALTER TABLE [dbo].[chitietcalam]  WITH CHECK ADD  CONSTRAINT [FK_chitietcalam_calam] FOREIGN KEY([macalam])
REFERENCES [dbo].[calam] ([macalam])
GO
ALTER TABLE [dbo].[chitietcalam] CHECK CONSTRAINT [FK_chitietcalam_calam]
GO
ALTER TABLE [dbo].[chitietcalam]  WITH CHECK ADD  CONSTRAINT [FK_chitietcalam_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([ma_nv])
GO
ALTER TABLE [dbo].[chitietcalam] CHECK CONSTRAINT [FK_chitietcalam_nhanvien]
GO
ALTER TABLE [dbo].[chitietdondathang]  WITH CHECK ADD  CONSTRAINT [FK_chitietdondathang_donhang] FOREIGN KEY([madon])
REFERENCES [dbo].[dondathang] ([madon])
GO
ALTER TABLE [dbo].[chitietdondathang] CHECK CONSTRAINT [FK_chitietdondathang_donhang]
GO
ALTER TABLE [dbo].[chitietdondathang]  WITH CHECK ADD  CONSTRAINT [FK_chitietdondathang_sanpham] FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([ma_sanpham])
GO
ALTER TABLE [dbo].[chitietdondathang] CHECK CONSTRAINT [FK_chitietdondathang_sanpham]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_hoadon] FOREIGN KEY([mahd])
REFERENCES [dbo].[hoadon] ([mahd])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_hoadon]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_sanpham] FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([ma_sanpham])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_sanpham]
GO
ALTER TABLE [dbo].[dondathang]  WITH CHECK ADD  CONSTRAINT [FK_dondathang_khachhang] FOREIGN KEY([makh])
REFERENCES [dbo].[khachhang] ([ma_kh])
GO
ALTER TABLE [dbo].[dondathang] CHECK CONSTRAINT [FK_dondathang_khachhang]
GO
ALTER TABLE [dbo].[dondathang]  WITH CHECK ADD  CONSTRAINT [FK_dondathang_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([ma_nv])
GO
ALTER TABLE [dbo].[dondathang] CHECK CONSTRAINT [FK_dondathang_nhanvien]
GO
ALTER TABLE [dbo].[dondathang]  WITH CHECK ADD  CONSTRAINT [FK_dondathang_trangthai] FOREIGN KEY([ma_trangthai])
REFERENCES [dbo].[trangthaidondathang] ([ma_trangthai])
GO
ALTER TABLE [dbo].[dondathang] CHECK CONSTRAINT [FK_dondathang_trangthai]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_khachang] FOREIGN KEY([makh])
REFERENCES [dbo].[khachhang] ([ma_kh])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_khachang]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([ma_nv])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_nhanvien]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_loaisp] FOREIGN KEY([ma_loaisp])
REFERENCES [dbo].[loaisanpham] ([ma_loaisp])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_loaisp]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_nhacungcap] FOREIGN KEY([ma_ncc])
REFERENCES [dbo].[nhacungcap] ([ma_ncc])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_nhacungcap]
GO
USE [master]
GO
